body
{
	position: relative;
	/* width: 1340px;
	height: 1024px; */

	
	text-align: center;
	/* background-color: #DFDBE5; */
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
	/* background: #FFA966; */
}	
.primeraPantalla{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	
}
.lineaPrincipal{

width: 1340px;
height: 40px;
left: 0px;
top: 0px;

background: #B37647;
font-size: 30px;	
text-align: center;	
}


.parrafoPrincipal{
	background:#FFFFFF;
	font-size: 20px;
	
	text-align: center;

	border:2px;border:  solid;
	border-color: tomato;
	
	align-items: center;


	margin-bottom: 40px;
	margin-top: 40px;


}
.todosLosBotones{
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin:10px 0px 10px 100px; */
}
.elBotonPag1{
	font-size: 30px;
	color: #3406b3;
	width: 200px;height: 200px;

	text-align: center;
	
    margin:0px 100px 0px 100px;
   

	background: #FF6680;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 16px;

}
/* .boton1{
	font-family: 'Original Surfer';

	
	font-size: 30px;
	color: #3406b3;
	width: 200px;height: 200px;

	text-align: center;
	
    
    margin-top: 40px;

    margin-right: 100px;
    margin-left: 5px;

	background: #FF6680;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 16px;
}
.boton2{
	font-family: 'Original Surfer';
	color: #3406b3;
	font-size: 30px;
	
	width: 200px;
	height: 200px;
	margin-top: 40px;
    margin-bottom:   80px;
  	margin-right: 5px;
  margin-left: 200px;
  background: #FF6680;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 16px;
} */
.parrafoSecundario{
	margin-top: 20px;
	background-color:#6bb300;
	font-size: 35px;
	letter-spacing:5px;
	text-align: center;
	text-decoration-color: black;
	border:2px;border:  solid;
	border-color: tomato;

}

.boton3{
	font-family: 'Original Surfer';
    text-decoration-color:  #000000;
	background: #57B347;
	font-size: 25px;
	
	width: 200px;
	height: 200px;

	

    margin-top: 80px;
    margin-right: 100px;
    margin-left: 5px;
    margin-bottom: 40px;
 
    border: 2px solid #7cff66;
	box-sizing: border-box;
	border-radius: 32px;
}
.boton4{
	font-family: 'Original Surfer';
	text-decoration-color:  #000000;
	background: #57B347;
	font-size: 25px;
	margin-top: 80px;
	width: 200px;
	height: 200px;

	
	
  	margin-right: 5px;
    margin-left: 200px;
	margin-bottom: 40px;
    border: 2px solid #7cff66;
	box-sizing: border-box;
	border-radius: 32px;
	
   }
 .botonSalida{
	font-family: 'Original Surfer';
	text-decoration-color:  #000000;
	background: #57B347;
	font-size: 30px;
	margin-top: 0.5px;
	width: 200px;
	height: 50px;

	
	
  	margin-right: 5px;
    margin-left: 600px;
	margin-bottom: 40px;
    border: 2px solid #7cff66;
	box-sizing: border-box;
	border-radius: 32px;
	
   }  
.imagGeneral
  {
  	background:#FFFFFF;
	
	border:2px;border:  solid;
	border-color: black;
		
  }  
.imagFinal
  {
  	
    width: 460px;
	height: 360px;
    
	margin-top: 200px;
	margin-bottom: 80px;
    padding-left: 5px;

  } 
 .imagEmoji
  {

	width: 80px;
	height: 80px;
	    
	margin-top: 0.5px;
    margin-left: 0.5px;
    /* padding-left: 500px; */
  	
  } 
/* // CONTENEDOR INDEX TERCER PANTALLA */
.tercerPantalla{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
  .contenedorImagen{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
 
  .imagEmojiTodos
  {
  	height: 80px;
	width: 80px;  

    margin:20px;

    transform: rotate(40deg);
    padding-left: 20px;
     transform: rotate(40deg);
  } 


   .imagEmojiSegunda
  {
      margin:20px;
 
   
     transform: rotate(20deg);
  } 
  
  /* CONTENEDOR DE LISTA  TORTA DE ACEITE*/
  .contenedorDeLista{
  	display: flex;
  	width: 500px;
	height: 40px;
	color: rgb(151, 13, 13);
	
	font-size: 40px;
	line-height: 40px;

	/* position: absolute; */
	top:200;
	right: 50;
	bottom: 0;
	left:0;
	/* margin:auto; */
	overflow: hidden;
	
  }

.lista{
	list-style: none;
	padding-left: 10px;
	animation: cambiar 7s infinite;
}
.listaLetra{
	margin:0; 
}
@keyframes cambiar {
  	 0%{margin-top: 0px;}
  	 20%{margin-top: 0px;}
  	 25%{margin-top: -40px;}
  	 50%{margin-top: -40px;}
  	 55%{margin-top: -80px;}
  	 80%{margin-top: -80px;}
  	 85%{margin-top: -40px;}
  	 95%{margin-top: -40px;}
  	 100%{margin-top: 0px;}
  }
.imagen{
	/* margin-left: 10px; */
	height: 250px;
	width: 250px;
	/* margin: 10px,10px,10px,10px; */
}
.otroContenedorDeTorta{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* align-items: center; */
	
}


  /* SEGUNDA PANTALLA*/
.contenedorSegundo {
    display: flex;
    position: absolute;
	top:800;
	right: 50;
	bottom: 0;
	left:0;
	margin:auto;
}

